@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #e2e8f0;
  background: #0f172a;
}

select option {
  background: #1e293b;
  color: #e2e8f0;
}
